spring:
  profiles:
    active: dev

#  mvc:
#    message-codes-resolver-format: prefix_error_code
#    dispatch-trace-request: true
#    dispatch-options-request: true

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
        globally_quoted_identifiers: true

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

  jackson:
    serialization:
      write_dates_as_timestamps: false

server:
  # 设置Gzip压缩
  compression:
    enabled: true
    min-response-size: 1024

  # 设置API mapping的根路径
  servlet:
    context-path: /api

---
spring:
  profiles: dev
  datasource:
    username: enihsyou
    password: enihsyou
    url: jdbc:postgresql://localhost:5432/enihsyou?currentSchema=collaboration

# https://stackoverflow.com/a/40364487
  jpa:
#    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false

logging:
  level:
    org.springframework: info
    org.springframework.web.filter.CommonsRequestLoggingFilter: debug
    com.enihsyou: trace
server:
  address: 0.0.0.0
  port: 8999
  servlet:
    context-path: /api

---
spring:
  profiles: production
  datasource:
    username: enihsyou
    password: enihsyou
    url: jdbc:postgresql://localhost:5432/enihsyou
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
server:
  address: 127.0.0.1
  port: 8999
logging:
  level:
    root: info
    org.springframework: info
    org.springframework.web.socket.config.WebSocketMessageBrokerStats: warn
    com.enihsyou: debug
  path: .

---
spring:
  profiles: mysql
  datasource:
    username: enihsyou
    password: enihsyou
    url: jdbc:mysql://localhost:3306/collaboration?useSSL=false

  jpa:
    show-sql: true
    generate-ddl: true
    database-platform: org.hibernate.dialect.MySQL57InnoDBDialect
    hibernate:
      ddl-auto: create
